* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-bar input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
}

.search-bar button.add-btn {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.search-bar button.add-btn:hover {
    background-color: #555;
}

.content {
    display: flex;
    justify-content: space-between;
}

.section {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.section:last-child {
    margin-right: 0;
}

.section h2 {
    font-size: 18px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.section h2 span a {
    font-size: 14px;
    text-decoration: none;
    color: #333;
}

.product-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Añade un espacio entre los productos */
}

.product {
    text-align: center;
    padding: 5px; /* Añade un padding interno para el contenido del producto */
}

.product-image {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    margin-bottom: 10px;
    border-radius: 8px;
}

.alerts ul {
    list-style: none;
}

.alert {
    margin-bottom: 15px;
}

.alert span {
    font-size: 18px;
    margin-right: 10px;
}

.alert small {
    display: block;
    margin-top: 5px;
}

.alert-danger {
    color: #dc3545;
}

.alert-warning {
    color: #ffc107;
}

.quick-actions button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.quick-actions button:hover {
    background-color: #ddd;
}
