.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.card:hover {
    opacity: 0.9;
}
.iva-options {
    display: flex;
    gap: 15px; /* Espacio entre las opciones */
}
