body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.filter-section {
    margin-bottom: 20px;
}

.filters .btn {
    margin-right: 10px;
}

.table {
    margin-top: 20px;
}

.modal-header {
    background-color: #007bff;
    color: white;
}

.header-buttons {
    display: flex;
    justify-content: flex-end;
}


/* Alineación del campo de búsqueda a la izquierda */
.d-flex.justify-content-start {
    justify-content: flex-start !important;
}

/* Color verde para el botón de registrar cliente */
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}
